.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mammal data
data/mammals/*
!data/mammals/.gitkeep

# Spatial data associated with camera locations
data/locations/*
!data/locations/.gitkeep

# Covariate data
data/covariates/weather-orig-rasters/*
!data/covariates/weather-orig-rasters/.gitkeep
data/covariates/weather-derived-rasters/*
!data/covariates/weather-derived-rasters/.gitkeep
data/covariates/rasters-CHIR/*
!data/covariates/rasters-CHIR/.gitkeep
data/covariates/rasters-ORPI/*
!data/covariates/rasters-ORPI/.gitkeep
data/covariates/rasters-SAGW/*
!data/covariates/rasters-SAGW/.gitkeep

# Output
output/models-JAGS/*
!output/models-JAGS/.gitkeep
output/NPS-figures/*
!output/NPS-figures/.gitkeep
output/single-season-models/*
!output/single-season-models/.gitkeep
output/single-season-reports/*
!output/single-season-reports/.gitkeep
output/NPS-figures/*
!output/NPS-figures/.gitkeep
output/NPS-figures/single-season/*
!output/NPS-figures/single-season/.gitkeep

!output/models-JAGS/sagw-leca-MS-2022-10-19.Rdata
!output/models-JAGS/sagw-leca-MS-2022-11-18.Rdata
!output/models-JAGS/sagw-leca-2020-20221213.Rdata

