.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mammal data
data/mammals/*
!data/mammals/.gitkeep

# Spatial data associated with camera locations
data/locations/*
!data/locations/.gitkeep

# Covariate data
data/covariates/weather-orig-rasters/*
!data/covariates/weather-orig-rasters/.gitkeep
data/covariates/weather-derived-rasters/*
!data/covariates/weather-derived-rasters/.gitkeep
data/covariates/rasters-CHIR/*
!data/covariates/rasters-CHIR/.gitkeep
data/covariates/rasters-ORPI/*
!data/covariates/rasters-ORPI/.gitkeep
data/covariates/rasters-SAGW/*
!data/covariates/rasters-SAGW/.gitkeep

# Output
output/models/*
!output/models/.gitkeep
!output/models/sagw-leca-MS-2022-10-19.Rdata
!output/models/sagw-leca-MS-2022-11-18.Rdata
!output/models/sagw-leca-2020-20221213.Rdata

