.Rproj.user
.Rhistory
.RData
.Ruserdata

# Mammal data
data/mammals/*
!data/mammals/.gitkeep

# Spatial data associated with camera locations
data/locations/*
!data/locations/.gitkeep

# Covariate data
data/covariates/distance-rasters/*
!data/covariates/distance-rasters/.gitkeep
data/covariates/topography-rasters/*
!data/covariates/topography-rasters/.gitkeep
data/covariates/weather-orig-rasters/*
!data/covariates/weather-orig-rasters/.gitkeep
data/covariates/weather-derived-rasters/*
!data/covariates/weather-derived-rasters/.gitkeep

data/covariates/rasters-CHIR/*
!data/covariates/rasters-CHIR/.gitkeep